---
meta:
  base_bosh_env:            (( grab genesis.bosh_env || params.bosh || genesis.env || params.env ))
  default_bosh_exodus_path: (( concat meta.base_bosh_env "/bosh" ))
  bosh_exodus_path:         (( grab params.bosh_exodus_path || meta.default_bosh_exodus_path ))
  bosh_exodus_src:          (( concat  $GENESIS_EXODUS_MOUNT  meta.bosh_exodus_path ":" ))
  bosh_uaa_clients:         (( vault meta.bosh_exodus_src "vault_base" ))
  default:
    azs: [z1]
  prometheus_port:   (( grab params.prometheus_port   || 8080 ))
  grafana_port:      (( grab params.grafana_port       || 443 ))
  alertmanager_port: (( grab params.alertmanager_port || 8082 ))
  base_domain:       (( grab params.external_domain   || params.static_ip ))


exodus:
  # It would be nice to include `https` in front of all these URLs to make
  # other code that relies on these values easier. However, because of HTTP
  # basic auth, we'd need to insert the user/password between `https` and the
  # meta.base_domain. It turns out that dropping `https` and adding it on when
  # needed is easier.
  prometheus_url:   (( concat instance_groups.prometheus.jobs.nginx.properties.nginx.prometheus.server_name ":" instance_groups.prometheus.jobs.nginx.properties.nginx.prometheus.https_port ))
  grafana_url:      (( concat instance_groups.prometheus.jobs.nginx.properties.nginx.grafana.server_name ":" instance_groups.prometheus.jobs.nginx.properties.nginx.grafana.https_port ))
  alertmanager_url: (( concat instance_groups.prometheus.jobs.nginx.properties.nginx.alertmanager.server_name ":" instance_groups.prometheus.jobs.nginx.properties.nginx.alertmanager.https_port ))

params:
  ca_validity_period: 10y;
  cert_validity_period: 5y;
  webssl_validity_period: 1y;

instance_groups:
- name:      prometheus
  instances: 1
  azs:       (( grab params.availability_zones || meta.default.azs ))
  stemcell:  default
  persistent_disk_type: (( grab params.persistent_disk_type || "prometheus" ))
  networks:
    - name:       (( grab params.network || "prometheus" ))
      static_ips: (( grab params.static_ip ))
  vm_type:        (( grab params.vm_type || "default" ))
  jobs:
  - name: alertmanager
    release: prometheus
    properties:
      alertmanager:
        mesh:
          password: (( vault meta.vault "/admin:password" ))
        receivers:
        - name: default
        route:
          receiver: default

  - name: prometheus2
    release: prometheus
    properties:
      prometheus:
        rule_files:
        - /var/vcap/jobs/postgres_alerts/*.alerts.yml
        - /var/vcap/jobs/prometheus_alerts/*.alerts.yml
        - /var/vcap/jobs/bosh_alerts/*.alerts.yml
        scrape_configs:

        - job_name: prometheus
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: prometheus\d?
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9090
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: bosh
          scrape_interval: 2m
          scrape_timeout: 1m
          static_configs:
          - targets:
            - localhost:9190

        - job_name: bosh_tsdb
          file_sd_configs:
          - files: [/var/vcap/store/bosh_exporter/bosh_target_groups.json]
          relabel_configs:
          - action: keep
            regex: bosh_tsdb_exporter
            source_labels: [__meta_bosh_job_process_name]
          - regex: (.*)
            replacement: ${1}:9194
            source_labels: [__address__]
            target_label: __address__

        - job_name: cadvisor
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: cadvisor
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:8080
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: cf
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: cf_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9193
            source_labels: [ __address__ ]
            target_label: __address__
          scrape_interval: 4m
          scrape_timeout: 2m

        - job_name: collectd
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: collectd_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9103
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: consul
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: consul_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9107
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: elasticsearch
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: elasticsearch_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9114
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: concourse
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          metrics_path: "/"
          relabel_configs:
          - action: keep
            regex: web
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            source_labels: [ __meta_bosh_deployment ]
            target_label: bosh_deployment
          - regex: (.*)
            replacement: ${1}:9391
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: firehose
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: firehose_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9186
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: grafana
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: grafana
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:3000
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: graphite
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: graphite_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9108
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: haproxy
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: haproxy_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9101
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: influxdb
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: influxdb_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9122
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: kubernetes
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: kube_state_metrics_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9188
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: memcached
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: memcached_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9150
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: mongodb
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: mongodb_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9001
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: mysql
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: mysqld_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9104
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: nats
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: nats_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9118
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: node
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: node_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9100
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: postgres
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: postgres_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9187
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: pushgateway
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          honor_labels: true
          relabel_configs:
          - action: keep
            regex: pushgateway
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9091
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: rabbitmq
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: rabbitmq_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9125
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: redis
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: redis_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9121
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: shield
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: shield_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9179
            source_labels: [ __address__ ]
            target_label: __address__
          scrape_interval: 4m
          scrape_timeout: 2m

        - job_name: stackdriver
          file_sd_configs:
          - files: [ /var/vcap/store/bosh_exporter/bosh_target_groups.json ]
          relabel_configs:
          - action: keep
            regex: stackdriver_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9255
            source_labels: [ __address__ ]
            target_label: __address__

        - job_name: statsd
          file_sd_configs:
          relabel_configs:
          - action: keep
            regex: statsd_exporter
            source_labels: [ __meta_bosh_job_process_name ]
          - regex: (.*)
            replacement: ${1}:9102
            source_labels: [ __address__ ]
            target_label: __address__

  - name: bosh_exporter
    properties:
      bosh_exporter:
        bosh:
          ca_cert: (( vault meta.bosh_exodus_src "ca_cert" ))
          url:     (( vault meta.bosh_exodus_src "url" ))
          uaa:
            client_id:     prometheus
            client_secret: (( vault meta.bosh_uaa_clients "/uaa/clients/prometheus:secret" ))
        metrics:
          environment:     (( grab genesis.env ))
    release: prometheus

  - name: grafana
    release: prometheus
    properties:
      grafana:
        dashboards: null
        database:
          name: grafana
          password: (( vault meta.vault "/grafanadb:password" ))
          port: 5432
          type: postgres
          user: grafana
          host: localhost
        prometheus:
          dashboard_folders:
          - name: Grafana
            files:
            - /var/vcap/jobs/grafana_dashboards/*.json
          - name: PostgreSQL
            files:
            - /var/vcap/jobs/postgres_dashboards/*.json
          - name: Prometheus
            files:
            - /var/vcap/jobs/prometheus_dashboards/*.json
            - /var/vcap/jobs/bosh_dashboards/prometheus*.json
          - name: BOSH
            files:
            - /var/vcap/jobs/bosh_dashboards/bosh*.json
            - /var/vcap/jobs/system_dashboards/bosh*.json
          - name: System
            files:
            - /var/vcap/jobs/system_dashboards/system*.json
        security:
          admin_user: admin
          admin_password: (( vault meta.vault "/admin:password" ))
          secret_key: (( vault meta.vault "/admin:secret_key" ))
        remote_cache:
          type: database

  - name: postgres
    release: postgres
    properties:
      databases:
        databases:
        - citext: true
          name: grafana
        port: 5432
        roles:
        - name: grafana
          password: (( vault meta.vault "/grafanadb:password" ))

  - name: nginx
    release: prometheus
    properties:
      nginx:
        ssl_cert:       (( vault meta.vault "/nginx/ssl_certificate:certificate" ))
        ssl_key:        (( vault meta.vault "/nginx/ssl_certificate:key" ))
        prometheus:
          server_name:  (( grab meta.base_domain ))
          https_port:   (( grab meta.prometheus_port ))
          http_port:    (( calc "meta.prometheus_port + 1" ))
          auth_users:
            - name:      admin
              password: (( vault meta.vault "/admin:password" ))
        alertmanager:
          server_name:  (( grab meta.base_domain ))
          https_port:   (( grab meta.alertmanager_port ))
          http_port:    (( calc "meta.alertmanager_port + 1" ))
          auth_users:
            - name:      admin
              password: (( vault meta.vault "/admin:password" ))
        grafana:
          server_name:  (( grab meta.base_domain ))
          https_port:   (( grab meta.grafana_port ))
          http_port:     80

  - name: grafana_dashboards
    release: prometheus
  - name: postgres_dashboards
    release: prometheus
  - name: postgres_alerts
    release: prometheus
  - name: prometheus_dashboards
    release: prometheus
  - name: prometheus_alerts
    release: prometheus
  - name: bosh_dashboards
    release: prometheus
  - name: bosh_alerts
    release: prometheus
  - name: system_dashboards
    release: prometheus

stemcells:
- alias: default
  os:      (( grab params.stemcell_os      || "ubuntu-jammy" ))
  version: (( grab params.stemcell_version || "latest" ))

update:
  canaries: 1
  canary_watch_time: 1000-100000
  max_in_flight: 32
  serial: false
  update_watch_time: 1000-100000
